<!DOCTYPE html>
<html>
<head>
    <title>Edit Product</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <div class="form-box">

        <div class="admin-header">

            <div>
                <h1>✏ Edit Product</h1>
                <p>Update product details.</p>
            </div>

            <a href="/" class="home-btn">
                🏠 Back Home
            </a>

        </div>


        <form method="POST">

            <input
                name="name"
                placeholder="Product Name"
                value="{{ product.name }}"
                required
            >


            <input
                name="category"
                placeholder="Category"
                value="{{ product.category }}"
                required
            >


            <input
                name="price"
                placeholder="Price"
                value="{{ product.price }}"
                required
            >


            <input
                name="stock"
                placeholder="Available Stock"
                value="{{ product.stock }}"
                required
            >


            <input
                name="sizes"
                placeholder="Sizes (S,M,L,XL)"
                value="{{ product.sizes }}"
                required
            >


            <input
                name="pack"
                placeholder="Pieces Per Pack"
                value="{{ product.pack }}"
                required
            >


            <textarea
                name="description"
                placeholder="Description"
            >{{ product.description }}</textarea>


            <button type="submit">
                Update Product
            </button>

        </form>

    </div>

</body>
</html>
